html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 20px 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;   /* vertikaalselt keskele */
  align-items: center;       /* horisontaalselt keskele */
  height: calc(100vh - 100px); /* võtab ülejäänud ruumi pärast headerit */
}

p {
  margin: 10px 0;
  font-size: 20px;
}
